blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
intasend-python
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
zipp
